###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Embedded web-server pid file
/.web-server-pid

# Composer: Ignorar el ejecutable descargable y archivos temporales
/composer.phar

# Node: Ignorar la carpeta de módulos instalados
/node_modules/